<div class="left-sidebar">
    <div class="brand">
    </div>
    <div class="main-nav" id="navbar-collapse">
        <nav role="navigation">
            <ul class="list-unstyled level1">
                <li>
                    <a routerLink="home" class="dropdown-toggle">Home<i class="fa fa-chevron-right fa-fw"></i></a>
                </li>
                <li>
                    <a routerLink="contact" class="dropdown-toggle">Contact<i class="fa fa-chevron-right fa-fw"></i></a>
                </li>
                <li>
                    <a routerLink="reports" class="dropdown-toggle">Reports<i class="fa fa-chevron-right fa-fw"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>