<div class="left-sidebar">
    <div class="brand">
        <a href="#"><img src="./assets/images/home.png" alt="Home" class="logo"/></a>
    </div>
    <div class="main-nav" id="navbar-collapse">
        <nav role="navigation">
            <ul class="list-unstyled level1">
                <li>
                    <a routerLink="home" class="dropdown-toggle">Home<i class="fa fa-chevron-right fa-fw"></i></a>
                </li>
                <li>
                    <a routerLink="contact" class="dropdown-toggle">Contact<i class="fa fa-chevron-right fa-fw"></i></a>
                </li>
                <li>
                    <a ui-sref="reports" class="dropdown-toggle">Reports</a>
                </li>
            </ul>

            <div class="wellheadlink">
                <ul class="list-unstyled level1">
                    <li><a class="dropdown-toggle" href="#"><i class="fa fa-chevron-left fa-fw"></i>Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>